.cas__header {
  background-color: #43497d;
  padding: 1.5rem 1rem;
}

.cas__header-link,
.cas__header-link:hover {
  color: #fff;
}

.cas__header-baseline {
  display: none;
}

.cas--blocking-connexion main {
  border-top: 1px solid transparent;
  margin-top: -1px;
}

.cas__panel-logo {
  margin-bottom: 1.5rem;
}

@media screen and (max-height: 48rem) {
  .cas--blocking-connexion .cas__panel {
    background-image: url("queue.svg");
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: auto 7rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-height: 48.0625rem) {
  .cas--blocking-connexion {
    background: transparent url("queue.svg") repeat-x center bottom;
    background-size: 1200px  auto;
    min-height: 100vh;
  }
}
